body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $blanc;
  font-weight: 200;
}

.title {
  font-family: 'carol-gothic', sans-serif;
  font-weight: 400;
  font-size: 69px;
  font-style: normal;
}

a{
  font-size: 19px;
}
