body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: $blanc;
  font-weight: 200;
}

.title {
  font-family: 'carol-gothic', sans-serif;
  font-weight: 400;
  font-size: 69px;
  font-style: normal;
}

a{
  font-size: 19px;
}

.avis__el__name{
  font-size: 23px;
  font-weight: 400;
}

@media (min-width : 400px) {

  body{
    font-size: 18px;
  }
  
  a{
    font-size: 22px;
  }

  .title{
    font-size: 77px;
  }

  h3{
    font-size: 31px;
    text-decoration: underline $mauve;
  }

}