@import 'utils/variables';
@import 'components/type';

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
}
main{
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    background-color: $noir;
}
h2{
    margin-bottom: 64px;
}
h3{
    margin-bottom: 16px;
}
p{
    margin-bottom: 32px;
}

.home{
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.space{
    margin-bottom: 160px;
    padding: 16px;
}

.home-logo{
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../assets/images/logo.png);
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25%;
    width: 100%;
}

.home-element{
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    &--top{
        top: 64px;
        left: 36px;
        align-items: end;
    }
    &--bottom{
        bottom: 64px;
        right: 36px; 
        
    }
}

.home-element--top::after{
    content: '';
    background-image: url('../assets/images/corner2.svg');
    background-repeat: no-repeat;
    background-size: 48px 32px;
    height: 32px;
    width: 48px;
    margin-top: 11px;
}
.home-element--bottom::before{
    content: '';
    background-image: url('../assets/images/corner2.svg');
    background-repeat: no-repeat;
    background-size: 48px 32px;
    height: 32px;
    width: 48px;
    margin-bottom: 11px;
    transform: rotate(180deg);
}
.bouton{
    background-color: $mauve;
    color: $blanc;
    border: none;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 48px;
    cursor: pointer;
}

.bouton:hover{
    background-color: #581CFBB3;
}

.valeur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.ombre{
    position: relative;
}
.ombre::after{
    position: absolute;
    content: '';
    background-image: url('../assets/images/corner2.svg');
    background-repeat: no-repeat;
    background-size: 48px 32px;
    height: 32px;
    width: 48px;
    transform: scaleY(-1);
    right: 16px;
    bottom: 0px;
}
.valeur-mockup {
    height: 60vh;
    margin: auto;
    margin-bottom: 160px;
    margin-top: 80px;
}
.valeur-list__el{
    margin: 48px 0px;
}

// .ombre::before{
//     content: attr(data-text);
//     color: transparent;
//     -webkit-text-stroke: 1px #581CFB;
//     position: absolute;
//     z-index: -1;
//     top: 10px;
// }

.list-el__title{
    text-align: right;
    margin-right: 16px;
}

.compo {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-auto-columns: 1fr;
    gap: 80px 16px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    padding-bottom: 32px;
    margin-top: 160px;
}
  
.vignette--3 { grid-area: 3 / 1 / 4 / 3; }
.vignette--1 { grid-area: 1 / 1 / 2 / 3; }
.vignette--2 { grid-area: 2 / 2 / 3 / 4; }
.vignette--4 { grid-area: 4 / 2 / 5 / 4; }
  
.photo{
    width: 100%;
    position: absolute;
    filter: drop-shadow(0px 12px 40px #000000);

    &--1{
        bottom : 80px;
    }
    &--2{
        bottom : 64px;
    }
    &--3{
        bottom : 80px;
    }
    &--4{
        bottom : 80px;
        width: 85%;
    }
}

.vignette{
    position: relative;
    width: 100%;
    background-color: $vignette;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 208px;
    margin-top: 96px;
    box-shadow: 0px 24px 42px #000000;
}
.nav-avis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav-avis__el{
    margin: 36px 0px;
    background-color: $vignette;
    padding: 16px;
}

.avis__el__avatar{
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 25px;
    background-image: url(../assets/images/profil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.avis-content{
    margin-left: 66px;
}
.avis__el__name{
    margin-top: 16px;
}

.avis-picture{
    width: 50%;
}




.download {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}
.mockup{
    height: 70%;
    width: 100%;
    background-image: url(../assets/images/mockup-mobile2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer ul{
    margin: 0;
}
footer a{
    padding: 5px 16px;
    color: $blanc;
    text-decoration: underline $mauve;
}
footer a:hover{
    background-color: $mauve;
    text-decoration: none;
}
footer {
    padding: 16px;
    background-color: $vignette;
}

.dwt-span{
    display: none;
}
.dwt-logo{
    height: 25px;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    &__el{
        margin-bottom: 11px;
    }
}

.main-cs{
    max-width: 1440px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 18px 18px;
}

.main-cs p{
    margin-bottom: 18px;
    grid-column-start: 2;
    grid-column-end: 6;
}

.main-cs h2{
    grid-column-start: 1;
    grid-column-end: 6;
}

.img-cs{
    grid-column-start: 1;
    grid-column-end: 6;
    max-width: 100%;
    max-height: 600px;
    padding: 18px;
    margin: auto;
    margin-top: 54px;
}

.main-cs ul {
    list-style-type: none;
    grid-column-start: 2;
    grid-column-end: 6;
    margin-left: 18px;
}

.main-cs li{
    margin-bottom: 18px;
}

.main-cs li p:before {
    content: '- ';
    color: $mauve;
}
.main-cs .ombre::after{
    bottom: -36px;
}
.img-cs--list{
    margin-top: inherit;
    max-height: 400px;
}

@media (min-width : 380px) {
    .home-logo{
        height: 20%;
    }

    .bouton{
        bottom: 106px;
    }

    .space{
        padding: 18px;
    }
    .home-element--top::after, .home-element--bottom::before{
        background-image: url(../assets/images/corner4.svg);
    }
    .ombre::after{
        right: 18px;
        background-image: url(../assets/images/corner4.svg);
    }
    .list-el__title{
        margin-right: 18px;
    }
    p{
        margin-bottom: 36px;
    }
    h3{
        margin-bottom: 18px;
    }
    .valeur-list__el{
        margin: 126px 0px;
    }
    .compo{
        gap: 106px 18px;
    }
}

@media (min-width : 600px) {
    p{
        margin-bottom: 40px;
    }
    .home-element--top::after{
        height: 80px;
        width: 140px;
        margin-top: 40px;
        background-size: contain;
    }
    .home-element--bottom::before{
        background-size: contain;
        height: 80px;
        width: 140px;
        margin-bottom: 40px;
    }
    .home-element--top::after, .home-element--bottom::before{
        background-image: url(../assets/images/corner2.svg);
    }
    .ombre::after{
        right: 18px;
        height: 60px;
        width: 80px;
        background-size: contain;
        background-image: url(../assets/images/corner2.svg);
        bottom: -25px;
    }
    .home-element--top{
        top: 100px;
        left: 60px;
    }
    .home-element--bottom{
        bottom: 100px;
        right: 60px;
    }
    .bouton {
        bottom: 220px;
        padding: 15px 80px;
    }
    .list-el__texte{
        width: 45%;
        margin-left: 35%
    }
    .space{
        padding: 40px;
    }
    .valeur-list{
        margin-right: 60px;
    }
    .ombre::before{
        top: 20px;
        -webkit-text-stroke: 2px $mauve;
    }
    .valeur-list__el {
        margin: 140px 0px;
    }
    .list-el__title {
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .compo {
        gap: 200px 20px;
        margin-top: 400px;
    }
    .photo {
        width: 80%;
    }
    .photo--4{
        width: 70%;
    }
    .photo--1 {
        bottom: 140px;
    }
    .vignette{
        margin-top: 200px;
    }
    .photo--3 {
        bottom: 120px;
    }
    .nav-avis__el {
        margin: 40px 60px;
        padding: 60px;
    }
    .mockup {
        height: 80%;
    }
    .bouton--bottom{
        bottom: 120px;
    }
    footer{
        padding: 60px;
    }
    .footer-list__el {
        margin-bottom: 30px;
    }
    .main-cs p{
        grid-column-start: 3;
    }
    .main-cs ul{
        grid-column-start: 3;
        margin-left: 36px;
    }
    .main-cs .ombre::after{
        bottom: -54px;
    }
    .img-cs{
        width: inherit;
    }
    .img-cs--list{
        display: block;
    }
}

@media (min-width : 1100px) {

    .home-element--top::after {
        height: 40px;
        width: 70px;
    }
    .home-logo {
        height: 30%;
    }
    .home-element--bottom::before{
        width: 70px;
        height: 40px;
    }
    .bouton{
        bottom: 120px;
        padding: 8px 60px;
    }
    .valeur {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 100vh;
        width: 100vw;
    }
    .valeur-content{
        width: 60%;
    }
    .ombre::after {
        right: 20px;
        height: 40px;
        width: 70px;
        bottom: -25px;
    }
    .valeur-list {
        margin-right: 60px;
    }
    .valeur-list__el {
        margin: 80px 0px;
    }
    .valeur-mockup{
        height: 80%;
    }
    .list-el__texte {
        width: 75%;
        margin-left: 20%;
    }

    .compo {
        max-width: 1440px;
        margin: auto;
        height: 100vh;
        display: grid; 
        grid-auto-flow: column dense; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1.5fr 1fr; 
        gap: 140px 40px; 
        justify-content: center; 
        align-content: center; 
        justify-items: center; 
        align-items: end;  
      }
    .vignette--1 { grid-area: 1 / 1 / 2 / 2; }
    .vignette--2 { grid-area: 1 / 2 / 2 / 4; }
    .vignette--3 { grid-area: 2 / 1 / 4 / 3; }
    .vignette--4 { grid-area: 3 / 3 / 4 / 4; }
    
    .avis-title{
        margin-left: 90px;
    }
    .nav-avis{
        flex-direction: row;
    }
    .nav-avis__el{
        width: 40%;
        padding: 20px;
        height: 100%;
    }
    .mockup{
        height: 100%;
    }
    .button--bottom{
        bottom: -40px;
    }
    .bouton--bottom {
        bottom: -80px;
    }
    .avis-picture {
        height: 150px;
    }
    .vignette{
        margin-top: 0px;
    }
    .photo {
        width: 50%;
    }
    .main-cs p{
        margin-right: 4em;
    }
    .img-cs{
        grid-column-start: 3;
        max-width: 600px;
    }

    
}

@media(-webkit-min-device-pixel-ratio: 2){
    .home-logo{
        background-image: url(../assets/images/logo@2x.png);
    }
    .mockup{
        background-image: url(../assets/images/mockup-mobile2-2@3x.png);
    }
}




