@import 'utils/variables';
@import 'components/type';

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    background-color: $noir;
}
h2{
    margin-bottom: 64px;
}
h3{
    margin-bottom: 16px;
}
p{
    margin-bottom: 32px;
}

.home{
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.space{
    margin-bottom: 160px;
    padding: 16px;
}

.home-logo{
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../assets/images/logo@2x.png);
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25%;
    width: 100%;
}

.home-element{
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    display: flex;
    &--top{
        top: 64px;
        left: 36px;
        align-items: end;
    }
    &--bottom{
        bottom: 64px;
        right: 36px; 
        
    }
}

.home-element--top::after{
    content: '';
    background-image: url('../assets/images/corner2.svg');
    background-repeat: no-repeat;
    background-size: 48px 32px;
    height: 32px;
    width: 48px;
    margin-top: 11px;
}
.home-element--bottom::before{
    content: '';
    background-image: url('../assets/images/corner2.svg');
    background-repeat: no-repeat;
    background-size: 48px 32px;
    height: 32px;
    width: 48px;
    margin-bottom: 11px;
    transform: rotate(180deg);
}
.bouton{
    background-color: $mauve;
    color: $blanc;
    border: none;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 48px;

    &--bottom{
        bottom: inherit;
        top: 40%;
    }
}

.valeur{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.valeur-title{
    position: relative;
}
.valeur-title::after{
    position: absolute;
    content: '';
    background-image: url('../assets/images/corner2.svg');
    background-repeat: no-repeat;
    background-size: 48px 32px;
    height: 32px;
    width: 48px;
    transform: scaleY(-1);
    right: 16px;
    bottom: 0px;
}
.valeur-mockup {
    width: 60vw;
    margin: auto;
}
.valeur-list__el{
    margin: 48px 0px;
}

.ombre::before{
    content: attr(data-text);
    color: transparent;
    -webkit-text-stroke: 1px #581CFB;
    position: absolute;
    z-index: -1;
    top: 10px;
}

.list-el__title{
    text-align: right;
    margin-right: 16px;
}

.compo {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-auto-columns: 1fr;
    gap: 80px 16px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    padding-bottom: 32px;
    margin-top: 160px;
}
  
.jupe { grid-area: 3 / 1 / 4 / 3; }
.sac { grid-area: 1 / 1 / 2 / 3; }
.trousse { grid-area: 2 / 2 / 3 / 4; }
.cor { grid-area: 4 / 2 / 5 / 4; }
  
.photo{
    width: 100%;
    position: absolute;
    filter: drop-shadow(0px 12px 40px #000000);

    &--sac{
        bottom : 80px;
    }
    &--trousse{
        bottom : 64px;
    }
    &--jupe{
        bottom : 80px;
    }
    &--cor{
        bottom : 80px;
        width: 85%;
    }
}

.vignette{
    position: relative;
    width: 100%;
    background-color: $vignette;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 208px;
    margin-top: 96px;
    box-shadow: 0px 24px 42px #000000;
}

.download {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;

}
.mockup{
    width: 100%;
}